<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
        const questions =  <%- qs %>;
    </script>
    <script src="/javascripts/script.js" defer></script>
    <title>Trivia Game</title>
</head>
<body>
    <div id="question-count"></div>
    <div id="question-container"></div>
    <div id="answer-container"></div>
    <button id="submit-answer">Submit Answer</button>
    <div id="scorebox"></div>
    <div id="result"></div>
</body>
</html>