body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: antiquewhite;
}

a {
  color: #00B7FF;
}

.form {
  display: flex;
  flex-direction: column;
}

.form label{
  color: brown;
  margin-top: 20px;
  font-size: 16px;
}

.form label, .form input, .form select {
  width: 300px;
}

#submit {
  margin-top: 20px;
}

#question-count {
  font-size: 24px;
}

#question-container {
  font-size: 20px;
}

#answer-container {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
}

#answer-container input{
  margin: 5px;
}

#scorebox {
  margin-top: 10px;
}